.App {
  text-align: center;
}

.App-header {
  background-color: #ecffec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(7, 41, 20);
}

form {
  border-radius: 5px;
  background-color:rgb(197, 255, 221);
  display: flex;
  flex-direction: column;
  width: 30vw;
  box-shadow: 1px 5px 10px rgba(6, 43, 9, 0.247);
}
label {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 1.2rem 2rem;
}
input {
  height: 1.2rem;
  border: none;
  border-bottom: 2px solid rgb(7, 41, 20);
}
input:focus {
  outline: none;
}
.input-label {
  margin-bottom: .7rem;
}

button {
  background-color: rgb(141, 216, 173);
  border-radius: 5px;
  margin: .6rem 2rem 2rem 2rem;
  height: 2rem;
  border: none;
}
button:hover {
  background-color: rgb(37, 146, 83);
  cursor: pointer;

}
